doctype html
html
  include src/pug/head.pug 
  body 

    include src/pug/menu.pug
    include src/pug/header.pug
    include src/pug/hero-preguntas.pug
    include src/pug/section-preguntas.pug
    include src/pug/footer.pug
    script(src="src/js/menu.js")

    script(src="src/js/scroll-animation.js")
    script(src="src/js/preguntas.js") 