.footer {
  height: inherit;
  padding-bottom: 30px;
  background-color: $color-footer;
  @include flex;
  @include media(desktop-s) {
    padding: 60px 0;
  }
  &--container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    @include media(desktop-s) {
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      padding: 0;
      width: 90%;
    }
    @include media(desktop-m) {
      width: 85%;
    }
    &--minimenu {
      margin-bottom: 30px;
      width: 80%;
      @include media(desktop-s) {
        margin: 0;
        width: auto;
        position: absolute;
        left: 0;
        z-index: 2;
      }
      & a {
        text-decoration: none;
        font-size: 1.5em;
        font-weight: 300;
        opacity: 0.7;
        transition: 0.3s;
        font-family: $Fuente2;
        color: $color-claro;
        @include media(desktop-s) {
          font-size: 1em;
        }
        &:hover {
          opacity: 1;
        }
      }

      &--line {
        @include line-lit;
      }
    }
    &--logo {
      width: 100%;
      position: absolute;
      top: 30px;
      @include flex;
      @include media(desktop-s) {
        top: 0;
        left: 0;
        right: 0;
        width: auto;
      }
      & img {
        margin: 0 auto;
        width: 15em;
        @include media(desktop-s) {
        }
      }
    }
    &--contacto {
      margin-bottom: 20px;
      width: 80%;
      @include media(desktop-s) {
        width: auto;
        margin: 0 10px 0 0;
      }
      @include media(desktop-m) {
        margin: 0 25px 0 0;
      }
      @include media(desktop-l) {
        margin: 0 60px 0 0;
      }
      &--title {
        font-size: 1.5em;
        margin: 0;
        font-weight: 600;
        font-family: $Fuente2;
        color: $color-claro;
        @include media(desktop-s) {
          font-size: 1em;
        }
      }
      &--line {
        @include line-lit2;
      }
      &--datos {
        margin: 5px 0 0;
        font-weight: 300;
        font-size: 1.35em;
        opacity: 0.7;
        color: $color-claro;
        font-family: $Fuente2;
        @include media(desktop-s) {
          font-size: 0.9em;
        }
      }
    }
    &--redes {
      height: 80px;
      width: 80%;

      @include flex;
      @include media(desktop-s) {
        width: auto;
      }
      & a {
        width: 4em;
        height: 4em;
        margin: 0 10px;
        @include media(desktop-s) {
          width: 2em;
          height: 2em;
          margin: 0 5px;
        }
      }
    }
  }
}
.footer--container--redes--img {
  width: 4em;
  height: 4em;
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  @include media(desktop-s) {
    width: 2em;
    height: 2em;
  }
  &.fb {
    background-image: url(../images/redes-fb.png);
  }
  &.ig {
    background-image: url(../images/redes-ig.png);
  }
  &.wsp {
    background-image: url(../images/redes-wsp.png);
  }
}
