$color-primario: #000;
$color-claro: #fff;
$color-variacion: #f36826;
$color-variacion2: #97979b;
$color-footer: #231f20;
$Fuente1: "Oswald", sans-serif;
$Fuente2: "Signika", sans-serif;

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin line-lit {
  display: flex;
  width: 15px;
  margin: 7px 0;
  opacity: 0.7;
  border-bottom: 1px solid $color-claro;
  @include media(tablet) {
    width: 25px;
  }
  @include media(desktop-s) {
    width: 15px;
    margin: 4px 0;
  }
}

@mixin line-lit2 {
  display: flex;
  width: 15px;
  margin: 0;
  opacity: 0.7;
  border-bottom: 1px solid $color-claro;
  @include media(tablet) {
    width: 25px;
  }
  @include media(desktop-s) {
    width: 15px;
  }
}

@mixin line-big {
  border-bottom: 2px solid $color-claro;
  display: flex;
  width: 250px;
  margin: 10px 0;
  @include media(tablet) {
    width: 450px;
  }
  @include media(desktop-s) {
    width: 270px;
    margin: 20px 0;
  }
}

@mixin line-preguntas {
  border-bottom: 2px solid $color-variacion2;
  display: flex;
  width: 100%;
  margin: 15px 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
  max-width: 1800px;
  margin: 0 auto;
  position: relative;
  background-color: $color-primario;
  color: $color-primario;
  @include media(mobile-l) {
    font-size: 14px;
  }
  @include media(mobile-xl) {
    font-size: 14px;
  }
  @include media(tablet) {
    font-size: 16px;
  }
  @include media(desktop-xl) {
    font-size: 20px;
  }
  &::-webkit-scrollbar {
    width: 11px;
    background: #222;
  }
  &::-webkit-scrollbar-thumb {
    background: #4c4b4b;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 10px;

  line-height: 110%;
  font-family: $Fuente2;
  color: $color-claro;
}

.content {
  display: none;
}

.loader {
  width: 100vw;
  height: 100vh;
  max-width: 1800px;
  overflow: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-primario;
  &--load {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: spin 2s infinite linear;
    border: 15px solid #4c4b4b;
    border-top: 15px solid $color-variacion;
  }
  &--logo {
    width: 150px;
    position: absolute;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

a:hover {
  text-decoration: none;
}

.desk {
  display: none;
  @include media(desktop-s) {
    display: flex;
  }
}
.mob {
  @include media(desktop-s) {
    display: none;
  }
}
.animado {
  opacity: 0;
  transition: 1s;
}

.aparece {
  opacity: 1;
}

@keyframes carga {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
