.section--container--cocinas
  +cocinas-g('www.google.com','bg-dulce-ana.webp','av-dulce-ana.webp','Dulce Ana','Pastelería artesanal')
  +cocinas-v('www.google.com','bg-delucca.webp','av-delucca.webp','DeLucca','Pizzas caseras')
  +cocinas('www.google.com','bg-pan-queso.webp','av-pan-queso.webp','La casa del Pan de Queso','Panes de queso esponjosos')
  +cocinas-g-v('www.google.com','bg-bfree.webp','av-bfree.webp','BFree','Vegan & Gluten free market')
  +cocinas('www.google.com','bg-indo.webp','av-indo.webp','Indowok','Comida asiática')
  +cocinas-g-v('www.google.com','bg-churreria.webp','av-churreria.webp','La churrería','Una churrería gourmet')
  +cocinas('www.google.com','bg-roma-verde.webp','av-roma-verde.webp','Roma Verde','Platos dulces y salados')