footer.footer
  .footer--container 
    .footer--container--minimenu 
      a(href="")  Necesito ayuda
      .footer--container--minimenu--line
      a(href="")  Sumar mi restaurante
      .footer--container--minimenu--line
      a(href="")  Registrate para pedir
      .footer--container--minimenu--line
      a(href="")  Acerca de Cocinas Ocultas
    .footer--container--logo 
      img(src="src/images/logo.png", alt="")
    .footer--container--contacto 
      p.footer--container--contacto--title Contacto 
      .footer--container--contacto--line 
      p.footer--container--contacto--datos Info@cocinasocultas.com.uy
      p.footer--container--contacto--datos 93 991 891
    .footer--container--redes 
      a(href="")
        .footer--container--redes--img.fb 
      a(href="")
        .footer--container--redes--img.ig
      a(href="")
        .footer--container--redes--img.wsp
