.header 
  #menu-but.header--menu
  figure.header--logo
    img.header--logo--img(src="src/images/logo.png", alt="")
  div.header--sesion
    a.header--sesion--iniciar(href="") Iniciar sesión 
    .header--sesion--line 
    a.header--sesion--registro(href="") Registrarse 
      