.bg-hero-preguntas 
.hero-preguntas
  .hero-preguntas--container 
    h3.hero-preguntas--container--title.mob Preguntas <br> frecuentes
    h3.hero-preguntas--container--title.desk Preguntas frecuentes
    img(src="src/images/miscelanea-naranja.png", alt="miscelanea", class="hero-preguntas--container--img")