.bg-hero 
.hero
  .hero--container 
    h3.hero--container--title Delivery o take away
    img(src="src/images/miscelanea-naranja.png", alt="miscelanea", class="hero--container--img")
    h2.hero--container--subtitle.desk 
      | La mejor selección de restaurantes <br> 
      | saludables en un solo lugar
    h2.hero--container--subtitle.mob  
      | La mejor selección <br>
      | de restaurantes <br>
      | saludables en un <br>
      | solo lugar 
    .hero--container--button 
      a.hero--container--button--link(href="") Explorar restaurantes 
        img(src="src/images/flecha-blanca.png", alt="",)