.menu
  .menu--precont 
    #menu-xbut.menu--precont--xmenu
    .menu--precont--logo 
      img(src="src/images/logo-m.png", alt="", class="mob")
    .menu--precont--container 
      .menu--precont--container--restaurantes#menu-rest
        p Restaurantes 
          img(src="src/images/flecha.png", alt="", class="flecha", id="menu-flecha") 
        .menu--precont--container--restaurantes--in#rest-in
          a(href="")  Pocitos
          

      .menu--precont--container--line 
      .menu--precont--container--sesion
        a(href="")  Iniciar sesión
        a(href="")  Registrarme 
      .menu--precont--container--line 
      .menu--precont--container--links 
        a(href="")  Preguntas frecuentes 
        a(href="")  Sumar mi restaurante
        a(href="")  Acerca de Cocinas ocultas
        a(href="")  Contacto
    .menu--precont--redes  
      a(href="")
        .menu--precont--redes--img.fb 
      a(href="")
        .menu--precont--redes--img.ig
      a(href="")
        .menu--precont--redes--img.wsp
