.section 
  .section--overlay 
  .section--titlecontainer
    .section--titlecontainer--box
      h4 
        | nuestras cocinas, <br>
        | pensadas para tí
      .section--titlecontainer--box--img-container.animado
        .section--titlecontainer--box--img-container--img.saludable 
        .section--titlecontainer--box--img-container--img.glfree 
        .section--titlecontainer--box--img-container--img.vegano 
    .section--titlecontainer--box
      .section--titlecontainer--box--img-container2.animado 
        .section--titlecontainer--box--img-container2--img 
      h5.desk 
        | Somos la primer cocina que <br>
        | reune una gran variedad de restaurantes <br>
        span saludables, gluten free y veganos.
      h5.mob 
        | Somos la primer cocina <br> que 
        | reune una gran variedad <br> de restaurantes 
        span saludables, <br> gluten free y veganos.
  .section--container
    .section--container--places 
      include places.pug
    .section--container--pronto.animado 
      img(src="src/images/miscelanea-gris.png", alt="miscelanea")
      h6  muy pronto abrimos
      img(src="src/images/miscelanea-gris.png", alt="miscelanea")
    include cocinas.pug